[Unit]
Description=ohnamil - today's remain events
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/pi/ohnamil -gcals "ff4500@gmail.com" -d "Homin Lee"
Environment=GOOGLE_APPLICATION_CREDENTIALS=/home/pi/_secret/homin-gadget-7e5ac18defca.json

[Install]
WantedBy=multi-user.target
