[Unit]
Description=ohnamil - today's remain events
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/pi/ohnamil 45

[Install]
WantedBy=multi-user.target
